
<web-app>  
  
<servlet>  
<servlet-name>RegisterServlet</servlet-name>  
<servlet-class>com.Register.RegisterServlet</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>RegisterServlet</servlet-name>  
<url-pattern>/servlet/RegisterServlet</url-pattern>  
</servlet-mapping>  
  
<welcome-file-list>
    <welcome-file>Register.html</welcome-file>  
</welcome-file-list>  
  
</web-app>  