<div class="col-md-6 user-container">
  <h2 class="text-center">Add User</h2>
  <form [formGroup]="addForm" (ngSubmit)="addUser(addForm);">
    <table align="center">
      <tr>
        <td><label for="username">User Name:</label></td>
        <td><input type="text" formControlName="username" placeholder="username" name="username" class="form-control" id="username"></td>
      </tr>

      <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" formControlName="password" placeholder="password" name="password" class="form-control" id="password"></td>
      </tr>

      <tr>
        <td><label for="firstName">First Name:</label></td>
        <td><input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName"></td>
      </tr>

      <tr>
        <td><label for="lastName">Last Name:</label></td>
        <td><input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName"></td>
      </tr>

      <tr>
        <td><label for="age">Age:</label></td>
        <td><input type="number" formControlName="age" placeholder="age" name="age" class="form-control" id="age"></td>
      </tr>
      <tr>
        <td><button class="btn btn-success">Update</button></td>
      </tr>
    </table>
  </form>
</div>
