<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#todoForm">
  New
</button>

<!-- Modal -->
<div class="modal fade" id="todoForm" tabindex="-1" role="dialog" aria-labelledby="todoForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="todoFormLabel">New Todo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="todoForm" (ngSubmit)="addTodo(todoForm);">
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control" formControlName="title">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" class="form-control" formControlName="description" required minlength="2" maxlength="150">
          </div>
          <div class="form-group">
            <label for="creationDate">Creation Date</label>
            <input type="date" name="creationDate" id="creationDate" class="form-control" formControlName="creationDate" required>
          </div>
          <div class="form-group">
            <label for="completionDate">Completion Date</label>
            <input type="date" name="completionDate" id="completionDate" class="form-control" formControlName="completionDate" required>
            </div>
            <div class="form-group">
              <label for="priority">Priority</label>
              <select name="priority" id="priority" class="form-control" formControlName="priority" required>
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
              </select>
              </div>
        </div>
        <div class="modal-footer">
          <button class="btn-lg btn-primary" type="submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>